:root {
    --brand-color: #2E2F42;
    --desc-color: #434455;
    --main-color:#ffffff;
    --team-color:#f4f4fd;
}
body{
font-family: 'Roboto', normal;
color:var(--brand-color);
}
ul{
    list-style-type:none;
}
h1,
h2,
h3,
h4,
p{
margin-bottom: 0;
margin-top: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
/* logo */
.logo-name span {
    color: #4D5AE5;
}

.logo-name {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-right: 76px;
}
.down{
    color:var(--main-color);
}
.logo-down-possition{
    margin-bottom: 16px;
}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
/* *****header-position***** */
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
/* header-style */
.main-head{
    padding-top: 24px;
    padding-bottom: 24px;
}

.top-menu {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    line-height :1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.top-menu:hover {
    color: #434455;

}
.contact-mail {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--desc-color);
}
.contact-phone{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--desc-color);
    margin-left: 40px;

}
.contact-mail:hover {
    color: #4D5AE5;
   
} 
.contact-phone:hover {
    color: #4D5AE5;

}
.top-menu:focus {
    color:#434455;

}

.contact:focus {
    color: #4D5AE5;
}
.footer-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#E7E9FC;
}
.head-border{
    border: 1px solid #E7E9FC;
  
}

/* buttons */

.button-order{
    border-radius: 4px;
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 32px;
   padding-right: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
.button-order:hover {
    background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.buttons{
 display: flex;
 justify-content: center;
 margin-bottom: 72px;
}
.button-menu:not(:last-child){
    margin-right: 24px;
}
.buttons-decor{
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
color: #4D5AE5;
}
.buttons-decor:hover{
    background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: 1px solid #404BBF;
color: #FFFFFF;

}
   
/* text-decor */

h1{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:white;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.title-name{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.team{
    background: var(--team-color);
}
.footer{
    background-color: var(--brand-color);
    padding-bottom: 100px;
}
.descriptions {
    background-color: var(--main-color);
}

.work {
    background-color: var(--main-color);
    padding-bottom: 120px;
}

.main {
    background-color: var(--main-color);
}

/* ******POSITION***** */

.head {
    background-color: var(--brand-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.header-title{
    margin-bottom: 48px;
}

.container-header {
    width: 507px;
    margin: 0 auto 48px;
}

.descriptions{
    padding-top: 120px;
    padding-bottom: 120px;
}
.description-work{
    display: flex;
}
.description{
    letter-spacing: 0.02em;;
    color: var(--desc-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.names{
    flex-basis: 264px;
    align-items: center;
}
.names:not(:last-child){
    margin-right: 24px;
}
.name{
    margin-bottom: 8px;
}
.work-title{
    text-align: center;
    margin-bottom: 72px;
}
.images{
    display:flex;
    justify-content: space-between;
}
.team{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}
.team-name{
   text-align: center;
   margin-bottom: 72px;

}
.card{
    flex-basis: 264px;
    gap: 24px;
    height: 380px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
    background-color: var(--main-color);  
}
.main{
    padding-top: 96px;
    padding-bottom: 120px;
}
.team-cards{
    display: flex;
        flex-wrap: wrap;
        gap:24px;
}
.title{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
}
.description-portfolio{
    margin-left: 16px;
    margin-bottom: 32px;
}
.description-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--desc-color);
    text-align: center;
}

.title-porttfolio{
    padding-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.footer{
    padding-top: 100px;
}
.footer-desc{
    width: 264px;
    height: 72px;
}

/* ****cards**** */
.cards{
display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.cards-row{
    flex-basis: 360px;

}
.border-line{
   border: 1px solid #E7E9FC;
   border-top: none;
}
.title{
   font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
}
.img{
    max-width: 100%;
    height:auto;
}